body {
  background: linear-gradient(#4568DC , #B06AB3);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}
.logo{
  font-size: 30px;
  padding-top: 10px;
  color: black;
  font-weight: bold;
}
.bas{
  color: orangered;
}

.hero-img{
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/nba4.jpg);
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  height: 100vh;
  width: 42%;
  z-index: 2;
  text-transform: uppercase; 
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.okno {
  list-style-type: none;
  padding: 0;
  margin-top: 3em;
}

.menu{
  color: black;
  padding: .75em 2em;
  display: block;
}

.menu:hover{
  background-color: orangered;
}

.hamburger {
  width: 1.5em;
  margin-top: 1em;
  cursor: pointer;
}

.close {
  float: right;
  margin: 1.5em;
  width: 1em;
  cursor: pointer;
}

.subhead{
  font-size: 1.4rem;
  color: white;
}

h1 {
  font-size: 3rem;
  margin-top: 2em;
  line-height: 3.3rem;
}

.hero {
  color: orangered;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}

.hero-w{
  animation: moveDown 1s ease-in-out forwards;
}

.arrow {
  position: fixed;
  bottom: 8em;
  width: 2em;
  animation: moveArrow 1s alternate-reverse infinite;
}


.steph {
  height: 15%;
}


.open-nav{
  transform: translateX(0);
}

.karty{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.karta {
  position: relative;
  height: 40rem;
  margin: 2rem;
  width: 25rem;
  box-shadow: none;
  background: none;
  justify-self: center;
}

.card-side {
  height: 35rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding:2rem;
  color: white
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: orangered;
}

.card-side.front {
  background-color: black;
  text-align: center;
}

.karta:hover .card-side.front {
  transform: rotateY(180deg);
}

.karta:hover .card-side.back {
  transform: rotateY(0deg);
}

.steph{
  width: 60%;
}

.main {
  width: 100%;
}

.fav {
  text-align: center;
}

.viac {
  text-decoration: underline;
}

.gif {
  display: none;
}

.footer{
  width: 100%;
  color: white;
  height: auto;
  padding-top: 40px;
  margin: 0;
  bottom: 0px;
}

.obsah-ft{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.ft-h3{
  font-size: 1.8rem;
  font-weight: 400;
}

.ft-p{
  margin: 10px auto;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: flex;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: orangered;
}

.card-w{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  position: flex;
  margin-top: 10%;
}

.card-w:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-s{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 100%;
  position: flex;
  margin-top: 10%;
}

.card-s:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-w{
  padding: 2px 16px;
}

.work-karty{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.shop-karty{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.over{
  height: 100%;
  position: flex;
}

form{
  max-width: 550px;
  margin-top: 15vh;
  background: white;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box; 
}

.fav-c{
  margin: 0;
  text-align: center;
}

label{
  display: block;
  margin: 20px 0;
}

input, textarea{
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
}

input[type="text"]:focus, textarea:focus{
  border-bottom: 1px solid blue;
}

textarea::-webkit-scrollbar{
  width: 4px;
}


textarea::-webkit-scrollbar-thumb{
  background-color: blue;
}

input[type="submit"]{
  margin-top: 30px;
  background: linear-gradient(#4568DC , #B06AB3);
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
}

.error{
  color: red;
}

.error-border{
  border-radius: 1px solid red;
}

#success{
  color: greenyellow;
}

@media only screen and (min-width: 680px) {

  body {
    margin: 1.5em 5em;
    font-family: 'Poppins', sans-serif;
  }

  .menu{
    color: black;
  }

}

@media only screen and (min-width: 920px) {

  .steph {
    height: 30%;
  }

  form{
    margin-left: 33%;
  }

  .card-w{
    width: 30%;
    margin-top: 0;
  }

  .card-s{
    width: 30%;
  }

  .work-karty{
    flex-direction: row;
  }

  .shop-karty{
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  nav {
    transform:  translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

  }

  .okno {
    display: flex;
    margin: 0;
  }
  
  .menu:hover {
    background: none;
    text-decoration: underline;
  }

  .close {
    display: none;
  }
  .hero-img{
    left: unset;
    right: 0;
    width: 60%;
    height: 51vw;
  }

  .subhead {
    color: black;
  }

  .hero {
    width: 40%;
  }

  .menu{
    color: white;
  }

  .karty{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .card-side {
    width: 100%;
  }

  .gif {
    display: flex;
    width: 60%;
    justify-self: center;
    padding-left: 10%;
  }

  
}


@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

